@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "antd/dist/reset.css";
body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
:root{
    --primary-color: #b61a1a;
    --fs-color-primary: #b61a1a;
    --fs-color-secondary: #c61919;
    --fs-color-success: #7a9c59;
    --fs-color-alert: #b20000;
    --fs-experimental-link-color: #aa1717;
    --fs-experimental-link-color-hover: #111;
}
html{
  font-size: 62.5%;
}